<!DOCTYPE html>
<html>
<head>
    <title>Student Form</title>
    <link rel="stylesheet" type="text/css" href="{% static 'students/styles.css' %}">
</head>
<body>
    <div class="navbar">
        <a href="{% url 'student_list' %}">Back to Student List</a>
    </div>
    <h1>Student Form</h1>
    <div class="container">        
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Save</button>
        </form>
    </div>
</body>
</html>
