<!DOCTYPE html>
<html>
<head>
    <title>Confirm Delete</title>
    <link rel="stylesheet" type="text/css" href="{% static 'students/styles.css' %}">
</head>
<body>
    <div class="navbar">
        <a href="{% url 'student_list' %}">Cancel</a>
    </div>
    <div class="container">
        <h1>Confirm Delete</h1>
        <p>Are you sure you want to delete {{ student.first_name }} {{ student.last_name }}?</p>
        <form method="post">
            {% csrf_token %}
            <button type="submit">Confirm</button>
        </form>
    </div>
</body>
</html>
